@page "/testpage"
@using CheesyCroco.Data.Models
@using CheesyCroco.Data.Services
@inject QuestionService questionService
@inject AnswerService answerService

<PageTitle>Tests</PageTitle>

<h1>Cheesy Croco Tests</h1>


<p>There is the test list.</p>

@if (questions == null || answers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul> 
        @foreach (var question in questions)
        {
            <li>
                <td>@question.text</td>  
                @foreach (var answer in answers)
                {
                    if (answer.questionId == question.Id)
                    {
                        <button class="btn btn-primary" @onclick="@(()=>attemptRates[question.questionIndex] = answer.score)">
                            @answer.text
                        </button>
                    }
                }
            </li>
        }
    </ul>

    <button class="btn btn-primary">
        Узнать результат
        @attemptRates[0]
        @attemptRates[1]
        @attemptRates[2]
    </button>
}



@code {
    private Question[] questions;
    private Answer[] answers;
    private int[] attemptRates;

    protected override async Task OnInitializedAsync()
    {
        if (questionService.connect() && answerService.connect())
        {
            questions = await questionService.GetTestAsync();
            answers = await answerService.GetTestAsync();
            attemptRates = new int[questions.Length];
        }
        else
        {
            questions = await Task.FromResult(Enumerable.Range(1, 5).Select(index => new Question
                {
                    text = "",
                    testId = "",
                    answersNum = 0,
                    questionIndex = 0

                }).ToArray());
        }
    }


   
}
